{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <div id="main">
            <div id="app"></div>
        </div>

        <script src="{% static 'frontend/index.js' %}"></script>
    </body>
</html>
